# postgres
POSTGRES_HOST=db
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=

# DATASET URL In Jan-2026
TAXI_URL=https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2026-01.parquet
TAXI_ZONE_LOOKUP_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
TAXI_DATA_FILENAME=raw_yellow_tripdata_2026_01.parquet
TAXI_ZONE_LOOKUP_TABLE=taxi_zone_lookup.csv